/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
	text-align: center;
	font-size: 14px;
	color: silver;
}

.paticka a {
	color: silver;
}

/* -------------------------------------------------- */

/*
Responzivní breakpointy:
Mobil:		0 - 479px
Tablet:		480px - 859px
Počítač:	860px a víc

Chrome a některé další prohlížeče nejdou zmenšit pod určitou šířku, takže je možné, že ti nepůjde zmenšit tolik, aby se aktivovala mobilní verze. Pokud se ti to stane, změň si v kódu hranici mezi mobilem a tabletem třeba na 600px, nebo aktivuj v prohlížeči vývojářské nástroje s mobilním náhledem, kde může nastavovat jakoukoliv velikost (i malou).

Obrázky pro jednotlivé recepty jsou ve složce images.
Nastav je receptům jako obrázky na pozadí (tj. nepřidávej je jako <img> do HTML)

Na rozložení prvků NEPOUŽÍVEJ absolutní pozicování, ale pouze flexboxy.
Flexboxy mohou být vnořené do sebe, klidně několikrát.
*/

.hlavni-recept{

	width: 479px;
	height: 200px;
	margin: 100px auto;
	border: 1px solid lightgrey;
	background-image: url(images/salat.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;	
	font-size: 14px;
	font-weight: 400;
	color: white;
	margin: 0 450px;
}

.recept-meta{
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.recept1{
	width: 479px;
	height: 200px;
	margin: 100px auto;
	border: 1px solid lightgrey;
	background-image: url(images/chlebicek.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;	
	font-size: 14px;
	font-weight: 400;
	color: white;
	margin: 0 450px;
}

.recept2{
	width: 479px;
	height: 200px;
	margin: 100px auto;
	border: 1px solid lightgrey;
	background-image: url(images/tacos.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;	
	font-size: 14px;
	font-weight: 400;
	color: white;
	margin: 0 450px;
}


.recept3{
	width: 479px;
	height: 200px;
	margin: 100px auto;
	border: 1px solid lightgrey;
	background-image: url(images/cizrna.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;	
	font-size: 14px;
	font-weight: 400;
	color: white;
	margin: 0 450px;
}

.recept4{
	width: 479px;
	height: 200px;
	margin: 100px auto;
	border: 1px solid lightgrey;
	background-image: url(images/burger.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;	
	font-size: 14px;
	font-weight: 400;
	color: white;
	margin: 0 450px;
}

@media screen and (min-width: 480px) {
	.doporucujeme{
		display: flex;
		flex-wrap: wrap;

	}
	
}

.recept{
	flex: 1 1 50%;
}

